:root {
    --primary-color: #05135B;
    --secondary-color: #FFFFFF;
}

@font-face {
    font-family: 'Krona_One';
    src: url('../fonts/Krona_One/KronaOne-Regular.ttf') format('truetype');
}

html {
    font-family: 'Krona_One', sans-serif;
    
}

body {
    margin: 0;
    font-family: 'Krona_One', sans-serif;
    background-image: url('../../static/images/global/gradiente.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.logo {
    text-align: center;
    margin-top: 15px;
    position: fixed;
    width: 100%;
    z-index: 9998;
}

.logo img {
    max-width: 355px;
    filter: none !important;
    transform: none !important;
    transition: none !important;
}

.minha_conta_area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    margin-right: 15px;
    margin-top: 45px;
    z-index: 9999;
}

.minha_conta_button {
    position: fixed;
    margin-right: 15px;
    margin-top: 15px;
    right: 0;
}

#input_logout {
    font-family: 'Krona_One', sans-serif; 
    width: 85px;
    height: 35px;
    position: fixed;
    margin-right: 15px;
    margin-top: 50px;
    right: 0;
    font-size: 16px;
    border-radius: 25px;
    border-color: transparent;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.menu_opcoes {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 357px; 
    width: 100%;
    box-sizing: border-box;
}

.visualizar_cursos,
.criar_curso,
.cadastrar_monitor {
    margin: 0 25px; 
    max-width: 300px;
    text-align: center; 
}

.visualizar_cursos img,
.criar_curso img,
.cadastrar_monitor img {
    border-radius: 25px;
    max-width: 100%; 
}

@media screen and (max-width: 768px) {
    .menu_opcoes {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 100px;
        width: 100%;
        box-sizing: border-box;
        padding: 70px; 
    }

    .visualizar_cursos,
    .criar_curso,
    .cadastrar_monitor {
        margin: 10px 0;
        max-width: 225px;
        text-align: center;
    }

    .logo {
        text-align: left;
        margin-top: 15px;
        left: 0;
        position: fixed;
        width: 100%;
    }
    
    .logo img {
        max-width: 355px;
        filter: none !important;
        transform: none !important;
        transition: none !important;
    }
}