<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização de Aula</title>
</head>
<body>
    <h1>Detalhes da Videoaula</h1>
    <h2>{{ video_aula.titulo_video }}</h2>
    <p>Data de Publicação: {{ video_aula.data_publicacao }}</p>
    <p>Descrição:</p>
    <p>{{ video_aula.descricao_video }}</p>
    <!-- Aqui você pode adicionar o reprodutor de vídeo ou o link para a aula, se necessário -->
</body>
</html>
